* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(40%, 1% + 2vh, 62.5%);

  --color-text-cads-and-controls: hsla(240, 6%, 21%, 1);
  --color-bg-cards-and-controls: hsla(240, 9%, 89%, 1);
  --color-secondary-cards-and-controls: hsla(194, 97%, 31%, 1);
}

body, button, span, input {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;

  display: grid;
  place-content: center;
}

.app {
  max-width: 40.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 /* Função para sumir com as frases dos botoes e manter a acessebilidade */
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0px;
  border: 0;
  appearance: none;
}

.timers {
  text-align: center;
  margin-bottom: 5rem;
}

#timer span {
  font-size: 9rem;
}

#controls button {
  width: 4.5rem;
  height: 4.5rem;
  
  font-weight: bold;
  font-size: 2.5rem;
  color: hsla(240, 6%, 21%, 1);
  
  margin: 0 .5rem;
  margin-top: 1.7rem;

  border: 2px solid var(--color-text-cads-and-controls);
  border-radius: 999rem;

  background-color: transparent;
  cursor: pointer;
}

#cards {
  gap: 2.5rem;
  display: grid;
  grid-template-areas: 
  "ph-play ph-cloud-snow"
  "ph-storefront ph-fire";
}

.card button {
  width: 10rem;
  height: 10rem;
  
  font-size: 5rem;
  font-weight: bold;

  border: none;
  border-radius: 2.4rem;

  background-color: var(--color-bg-cards-and-controls);

  cursor: pointer;
}

.replacementOne .ph-tree  { 
  background-color: var(--color-secondary-cards-and-controls);
}

.replacementTwo .ph-cloud-rain { 
  background-color: var(--color-secondary-cards-and-controls);
}

.replacementThree .ph-storefront { 
  background-color: var(--color-secondary-cards-and-controls);
}

.replacementFour .ph-fire { 
  background-color: var(--color-secondary-cards-and-controls);
}

@media (min-width: 1024px){
  .app{
    max-width: 1020px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 19.2rem;
  }

  .timers{
   margin-top: 2.5rem; 
  }
}